.container{
    min-width:390px;
    width:calc(100vw - 27vw);
    height: calc(100vh - 120px);
    padding:15px;
    margin: auto;
}
.inbox{
    border:1px solid orangered;
    border-radius: 15px;
    margin: auto;
}
.message{
  list-style: none;
  display:flex;
  flex-direction: column;
  gap:10px;
  overflow: auto;
  padding:0;
  margin: 0;
  padding: 10px 10px;
  overflow: auto;
}
.title{
    text-align: center;
    color:orangered;
    font-weight: bolder;
    height:40px;
    border-bottom: 1.5px solid orangered;
}
.message li{
    border-bottom:1.5px solid orangered;
    height:30px;
    border-radius: 7px;
    padding-left: 5px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}
.messageList{
    margin-left: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.messageList:hover,
.messageList:focus{
    background-color: orangered;
}
.mailText{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.mailText h3{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.delete{
    color:blue;
    text-decoration: underline;
    font-size: 15px;
    position: absolute;
    right:20px;
    cursor: pointer;
}
.delete:hover{
    color:white;
}
.seen{
    width:12px;
    height:12px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    right:10px;
    top:3px;
}
.notseen{
    width:12px;
    height:12px;
    border-radius: 50%;
    background-color:blue;
    position: relative;
    right:10px;
    top:3px;
}
@media(min-width:360px) and (max-width:600px){
    .container{
        width:90%;
    }
    .mailText{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .messageList{
        min-height: 50px;
        height: fit-content;
    }
    .mailText h3{
        margin: 0;
    }
    .delete{
        bottom: 10px;
    }
}