.navigation{
    display: flex;
    background-color: orangered;
    height: 60px;
    width:100vw;
    position: sticky;
    top:0;
    z-index: 999;
}
.logoContainer{
    flex:2;
    display: flex;
    text-align: center;
    align-items: center;
}
.logo{
    width: fit-content;
    margin: auto;
    color: aqua;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.pagesContainer{
    flex:5;
}
.pagesContainer ul{
    list-style: none;
    display: flex;
    gap:30px;
}
.link{
    text-decoration: none;
    color: black;
}
.home{
    color:black;
    font-size: 18px;
}
.product{
    color:black;
    font-size: 18px;
}
.about{
    color:black;
    font-size: 18px;
}
.active:hover,
.active.active{
    color: white;
    font-size: 20px;
}
.isLogin{
    flex:5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
   cursor: pointer;
   width:100px;
   height:30px;
   text-align: center;
   border:2px solid black;
   font-size: 18px;
   font-weight: bold;
   color:black;
   border-radius: 5px;
   background-color:rgb(255, 213, 140);
}
.status{
    position: absolute;
    right:30px;
    width:150px;
    height: 40px;
    top:10px;
    border-radius: 10px;
}
.success{
    width: 100%;
    height: 100%;
    background-color: rgb(44, 124, 44);
    color:white;
    font-size: 18px;
    text-align: center;
}
.failed{
    width: 100%;
    height: 100%;
    background-color: rgba(205, 58, 58, 0.827);
    color:white;
    font-size: 18px;
}
.loading{
    width: 100%;
    height: 100%;
    background-color: rgb(74, 74, 208);
    color:white;
    font-size: 18px;
}